<div class="resource" id="{{$ctrl.resource.id}}">
    <div class="header">
        <div class='control-group span6'>
            <label class='control-label'>
                Path:
            </label>
            <div class='controls'>
                <div class='input'>
                    <input class="span10" v-model="index">
                </div>
            </div>
        </div>
        <div class='pull-right span6'>
            <a ng-click="$ctrl.removeResource(this)" class='btn btn-danger pull-right'>
                <i class='icon-trash icon-white'></i>
                Delete Path
            </a>
            <a ng-click="$ctrl.addMethod()" class='btn btn-info pull-right'>
                <i class='icon-plus icon-white'></i> 
                Add Operation
            </a>
        </div>
    </div>
    <div class="accordion span12" style="margin-left:0px" v-for="(method,key,index) in path">
        <api-method :key="key" :method="method" :index="key"></api-method>
    </div>
</div>
