  <div class="field is-horizontal extension-property">
    <div class="field-label is-normal">
        <span v-if="isarray" class="icon">
            <i class="fa fa-plus"></i>&nbsp;
            <i class="fa fa-minus"></i>
        </span>
        <label class="label has-icons-left" v-else-if="title" :for="linkId">{{title}}</label>
        <label class="label has-icons-left" v-else :for="linkId">{{property}}</label>
    </div>
    <div class="field-body">
    <textarea v-if="format == 'markdown'" class="textarea" :id="linkId" v-model="formData[linkId]" :placeholder="schema.example"></textarea>
    <input v-else-if="type == 'string'" class="input is-expanded" :id="linkId" v-model="formData[linkId]" :placeholder="schema.example">
    <input v-else-if="format == 'date'" class="input" type="date" :id="linkId" v-model="formData[linkId]">
    <input v-else-if="type == 'integer'" class="input" type="number" :id="linkId" v-model="formData[linkId]">
    <input v-else-if="type == 'number'" class="input" type="number" :id="linkId" v-model="formData[linkId]">
    <!--<template v-else-if="type == 'boolean'" v-for="option in ['true','false']">
      <input type="radio" :id="linkId + option" v-model="formData[linkId]" :value="option">
      <label :for="linkId + option">{{option}}</label>&nbsp;
    </template> -->
    <input v-else-if="type == 'boolean'" type="checkbox" class="checkbox" :id="linkId" v-model="formData[linkId]">
    <template v-else-if="type == 'object'">
        <div class="box" style="flex: 1 0 auto;">
            <api-property v-for="(prop,p) in schema.properties" linkId="1235" :schema="prop" :type="prop.type" :property="p" :format="prop.format" :title="prop.title" :description="prop.description"></api-property>
        </div>
    </template>
    <template v-else-if="type == 'array'">
        <div class="control box" style="flex: 1 0 auto;">
            <api-property linkId="1236" :schema="schema.items" :type="schema.items.type" property="0" :format="schema.items.format" :title="schema.items.title" :description="schema.items.description" isarray=true></api-property>
        </div>
    </template>
	<span v-if="description" class="icon is-left" :data-balloon="description" data-balloon-length="large"><i class='fa fa-question'></i></span>
    </div>
  </div>
