-#These are the DOM elements that we will clone and manipulate to add endpoints, methods, and parameters

.template.hide{:id => "endpointTemplate"} 
	.endpointTemplate.hide{:id => "ep[blank]"} 
		.control-group.span5
			%label.control-label{:for => "endpoints[blank].name"} 
				Endpoint Name:
			.controls
				.input
					%input.endpointName{:name => "endpoints[blank].name", :id => "endpoints[blank].name", :value => "New Endpoint"}
		%span.endpoint-controls 
			%input.btn.btn-info.addButton.addMethod(type="button" value='Add Method')
			%input.btn.btn-danger.removeEndpoint(type="button" value='Delete Endpoint')
		%ul.methods
			

.template.hide{:id => "methodTemplate"} 
	%li.method	
		%legend
			.section.clickable{"target" => "#endpoint!endpoint!method!method!"}
				%a{:name => "endpoint!endpoint!method!method!"} 
					Method: 
					%span.methodNameSpan
						New Method

			.methodContainer.hide{:id => "endpoint[!endpoint!]method[!method!]"}
				.control-group
					%label.control-label{:for => "endpoints[!endpoint!].methods[!method!].MethodName"} 
						Method Name
					.controls
						%input.methodName{:name => "endpoints[!endpoint!].methods[!method!].MethodName", :id => "endpoints.endpoint[!endpoint!].methods[!method!].MethodName"}

				.control-group
					%label.control-label{:for => "endpoints[!endpoint!].methods[!method!].Synopsis"} 
						Synopsis
					.controls
						%textarea{:name => "endpoints[!endpoint!].methods[!method!].Synopsis", :id => "endpoints[!endpoint!].methods[!method!].Synopsis"}

				.control-group
					%label.control-label{:for => "endpoints[!endpoint!].methods[!method!].HTTPMethod"} 
						HTTP Method (GET, POST, PUT, etc)
					.controls
						%input{:name => "endpoints[!endpoint!].methods[!method!].HTTPMethod", :id => "endpoints[!endpoint!].methods[!method!].HTTPMethod"}

				.control-group
					%label.control-label{:for => "endpoints[!endpoint!].methods[!method!].URI"} 
						URI
					.controls
						%input{:name => "endpoints[!endpoint!].methods[!method!].URI", :id => "endpoints[!endpoint!].methods[!method!].URI"}							

				.control-group
					%label.control-label{:for => "endpoints[!endpoint!].methods[!method!].RequiresOAuth"} 
						Requires OAuth?
					.controls
						%label.radio
							%input{:type => "radio", :name => "endpoints[!endpoint!].methods[!method!].RequiresOAuth", |
								:id => "endpoints[!endpoint!].methods[!method!].RequiresOAuth.Yes", |
								:value => "Y"}
								%span Yes
						%label.radio
							%input{:type => "radio", :name => "endpoints[!endpoint!].methods[!method!].RequiresOAuth", |
								:id => "endpoints[!endpoint!].methods[!method!].RequiresOAuth.No", |
								:value => "N"} 
								%span No
					%span.method-controls
						%input.btn.btn-info.addParameter(type="button" value='Add Parameter')
				%ul.parameters
								

.template.hide{:id => "parameterTemplate"} 
	%li.parameter
		%legend
			.section.clickable{"target" => "#endpoint!endpoint!method!method!parameter!parameter!"}
				Parameter: 
				%span.parameterNameSpan New Parameter

			.parameterContainer.hide{:id => "endpoint!endpoint!method!method!parameter!parameter!"}
				%span.method-controls 
					%input.btn.btn-danger.removeParameter(type="button" value='Delete Parameter')

				.control-group
					%label.control-label{:for => "endpoints[!endpoint!].methods[!method!].parameters[!parameter!].ParameterName"} Parameter Name
					.controls 
						%input.parameterName{:name => "endpoints[!endpoint!].methods[!method!].parameters[!parameter!].ParameterName", |
							:id => "endpoints[!endpoint!].methods[!method!].parameters[!parameter!].ParameterName", |
							:value => "New Parameter"}
				.control-group
					%label.control-label{:for => "endpoints[!endpoint!].methods[!method!].parameters[!parameter!].Description"} Description
					.controls 
						%textarea{:name => "endpoints[!endpoint!].methods[!method!].parameters[!parameter!].Description", |
						 	:id => "endpoints[!endpoint!].methods[!method!].parameters[!parameter!].Description"} |
				.control-group
					%label.control-label Required?
					.controls 
						%label.radio
							%input{:type => "radio", :name => "endpoints[!endpoint!].methods[!method!].parameters[!parameter!].Required", |
								:id => "endpoints[!endpoint!].methods[!method!].parameters[!parameter!].Required.Yes", |
								:value => "Y"}
								Yes

						%label.radio
							%input{:type => "radio", :name => "endpoints[!endpoint!].methods[!method!].parameters[!parameter!].Required", |
								:id => "endpoints[!endpoint!].methods[!method!].parameters[!parameter!].Required.No", |
								:value => "N"} 
								No
				.control-group
					%label.control-label{:for => "endpoints[!endpoint!].methods[!method!].parameters[!parameter!].Default"} Default value
					.controls 
						%input{:name => "endpoints[!endpoint!].methods[!method!].parameters[!parameter!].Default", | 
						:id => "endpoints[!endpoint!].methods[!method!].parameters[!parameter!].Default"} |

				.control-group
					%label.control-label{:for => "endpoints[!endpoint!].methods[!method!].parameters[!parameter!].Type"} Data type
					-#should be a dropdown
					.controls 
						%label.radio
							%input.dataType{:type => "radio", |
								:name => "endpoints[!endpoint!].methods[!method!].parameters[!parameter!].Type", |
								:id => "endpoints[!endpoint!].methods[!method!].parameters[!parameter!].Type.Boolean", |
								:value => "boolean"}
								Boolean

						%label.radio
							%input.dataType{:type => "radio", |
							 	:name => "endpoints[!endpoint!].methods[!method!].parameters[!parameter!].Type", |
								:id => "endpoints[!endpoint!].methods[!method!].parameters[!parameter!].Type.Enumerated", |
								:value => "enumerated"}
								Enumerated ( JSON list of options, e.g. ["option1","option2"] )

							.enumeratedList
								%input.enumeratedInput{:name => "endpoints[!endpoint!].methods[!method!].parameters[!parameter!].EnumeratedList", |
									:id => "endpoints[!endpoint!].methods[!method!].parameters[!parameter!].EnumeratedList"}

						%label.radio
							%input.dataType{:type => "radio", |
							 	:name => "endpoints[!endpoint!].methods[!method!].parameters[!parameter!].Type", |
								:id => "endpoints[!endpoint!].methods[!method!].parameters[!parameter!].Type.Custom", |
								:value => "custom"}
								Custom

							.custom
								%input.customInput{:name => "endpoints[!endpoint!].methods[!method!].parameters[!parameter!].Type", |
									:id => "endpoints[!endpoint!].methods[!method!].parameters[!parameter!].Type"}

.template.hide{:id => "methodCounterTemplate"}		
	%input{:type=>"hidden", :value => "0", :id=>"endpoint!endpoint!MethodCounter"}
	
.template.hide{:id => "parameterCounterTemplate"}		
	%input{:type=>"hidden", :value => "0", :id=>"endpoint!endpoint!Method!method!ParameterCounter"}

	
.template.hide{:id => "endpointMenuTemplate"}
	%li
		%a.endpointActuator{:href => "#", :id => "endpointActuatorblank"}
		%ul
		
.template.hide(id = "methodMenuTemplate")
	%li 
		%a.methodActuator New Method