!!!
%html
	%head
		%title I/O Doctor - GUI for I/O Docs configurations
		%link{:href => "/css/bootstrap.min.css", :rel => "stylesheet"}
		%link{:href => "/css/default.css", :rel => "stylesheet"}
		%script{:src => "/js/jquery-1.7.1.min.js"}
		%script{:src => "/js/jquery.jstree.js"}
		%script{:src => "/js/default.js"}
		%script{:src => "/js/form2js.js"}
		%script{:src => "/js/bootstrap-tabs.js"}
	%body
		.topbar
			.fill
				.container
					%span.brand I/O Doctor
					%ul.nav
						%li.active
							%a{:href => "/"} Start Over
						%li
							%a{:href => "/"} About						

		.container	
			.content
				=yield(:content)