.hero-unit
	%h2 
		Easily edit or create 
		%a{:href => "https://github.com/mashery/iodocs"} I/O Docs
		JSON files
	%br/
	
	.row-fluid
		.span4
			%p 
				Create a new I/O Docs configuration...
			
			%form.form-inline(method="post")
				%input.btn-success.btn-large(type='submit' value='New' name="new")
	
		.span5
			%p 
				\...or upload and edit your existing JSON file
			%form.form-inline(method="post" enctype='multipart/form-data')
				%input.input-file(type='file' name='file')
				%input.btn-primary.btn-large(type='submit' value='Load JSON' name="load")

