.hero-unit
	%h2 Easily edit your I/O Docs JSON files
	%br/

	
	%form(method="post" enctype='multipart/form-data')
		.row
			.span6
				%p 
					Upload your existing JSON file...
				%input(type='file' name='file')
				%br/
				%input.btn.primary.large(type='submit' value='Load JSON')

			.span7
				%p 
					\...or create a new configuration to get started.
				%input.btn.primary.large(type='submit' value='New')
