body {
   padding-top: 60px;
}

.hidden {
	display:none;
}

.clickable {
	cursor: pointer;
}

.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }

.container-fluid > .content {
	margin-left: 280px;
}