body {
  padding-top: 60px;
  padding-bottom: 40px;
}
.sidebar-nav {
  padding: 9px 0;
}

.bottom-bar {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}
.bottom-bar hr {
	margin:5px 0px;
}

.hide {
	display:none;
}

.clickable {
	cursor: pointer;
}

.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }

.content li {
  list-style: none;
  margin-left: 0;
}

.methods, .parameters {
  padding-bottom:8px;
  
}

.method legend img{
  height:19px;
  top:3px;
  left:8px;
  margin-right:4px;
  position: relative;
}

.method {
	padding-left: 5px;
  font-size: 14px;
  border: 1px solid #BEBED0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  margin: 10px 0;
   background-color: #FAFAFA;
}

.method legend {
	margin-bottom:0;
}

.parameter {
  padding-left:5px;
  font-size: 14px;
  border: 1px solid #029DE7;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  margin: 10px 5px;
   background-color: #E7F0F7;	
}

.addButton {
	float:right;
	margin-right:9px;
}

.endpoint > .control-group {
	margin-bottom:0px;
}

.endpoint > .control-group > label {
	width: auto;
	text-align: left;
	font-size:19.5px;
}

.endpoint > .control-group > .controls > .input > input {
	font-size:19.5px;
}

.endpoint > .control-group > .controls {
	margin-left:100px;
}

.removeMethod, .removeParameter, .addParameter {
	float:right;
	margin-right:10px;
}

.parameters { clear:both;}