<div class='component-gui'>
	<div class='navbar navbar-inverse navbar-fixed-top'>
		<div class='navbar-inner'>
			<div class='container-fluid'>
				<span class='brand'><a href="https://github.com/mermade/openapi-gui">OpenApi-GUI</a></span>
				<a class="btn btn-info pull-right" v-on:click="scrollTop()"><i class='icon-white icon-arrow-up'></i> Top</a>
				<a class="btn btn-info pull-right" v-on:click="save()"><i class='icon-white icon-save'></i> Save</a>
				<a class="btn btn-info pull-right" v-on:click="undo()"><i class='icon-white icon-undo'></i> Undo</a>
				<a class="btn btn-info pull-right" target="_blank" href="https://twitter.com/share?source=tweetbutton&text=OpenApi-Gui%20Visual%20editor%20for%20%23OpenApi%20%23Swagger%20Via%20%40PermittedSoc&url=https%3A%2F%2Fgithub.com%2FMermade%2Fopenapi-gui"><i class='icon-white icon-twitter'></i></a>
				<a class="btn btn-info pull-right" target="_blank" href="https://twitter.com/intent/follow?screen_name=PermittedSoc"><i class='icon-white icon-twitter'></i> Follow</a>
				<a class='btn btn-info pull-right' target="_blank" href="https://github.com/mermade/openapi-gui"><i class='icon-white icon-github'></i> GitHub</a>
			</div>
		</div>
	</div>

	<div class='container-fluid' role='main'>
		<div class='row-fluid'>

			<a id='scrollTop'></a>
			<ul id="section-tabs" class='tabs nav nav-tabs'>
				<li>
					<a data-toggle='tab' href='#about' id="about-tab">
						<i class='icon-info-sign'></i> About
					</a>
				</li>
				<li>
					<a data-toggle='tab' href='#input' id="input-tab">
						<i class='icon-upload'></i> Load
					</a>
				</li>
				<li>
					<a data-toggle='tab' href='#header' id="header-tab">
						<i class='icon-h-sign'></i> Header
					</a>
				</li>
				<li>
					<a data-toggle='tab' href='#tags' id="header-tags">
						<i class='icon-tag'></i> Tags
					</a>
				</li>
				<li>
					<a data-toggle='tab' href='#security' id="header-security">
						<i class='icon-lock'></i> Security
					</a>
				</li>
				<li>
					<a data-toggle='tab' href='#prodcons' id="header-prodcons">
						<i class='icon-magic'></i> MIME Types
					</a>
				</li>
				<li class='active'>
					<a data-toggle='tab' href='#editor' id="editor-tab">
						<i class='icon-edit'></i> Edit
					</a>
				</li>
				<li>
					<a data-toggle='tab' href='#output' id="output-tab" v-on:click="renderOutput()">
						<i class='icon-file'></i> Export JSON
					</a>
				</li>
				<li>
					<a data-toggle='tab' href='#yaml' id="yaml-tab" v-on:click="renderOutputYaml()">
						<i class='icon-file'></i> Export YAML
					</a>
				</li>
			</ul>

			<div class='tab-content'>

				<div class="tab-pane" id="about">
					<h1>What is OpenApi-gui?</h1>
					<br> OpenApi-gui is a GUI for creating and updating <a href="https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md">
					OpenApi / Swagger</a> definitions.
					<br>
					<h2>How does OpenApi-gui work?</h2>
					<br> Upload an existing definition, or create a new one (select the red 'trash-can' button to remove all Paths) and
					start adding Paths, Operations, and Parameters. When an existing definition is used, it is parsed and forms for editing
					each Path, Operation and Parameter will be created.
					<br>
					<br> By default when OpenApi-gui starts, it loads the OpenApi Petstore sample.
					<br>
					<br> Click an item from the menu on the left to begin editing. View the JSON/YAML output at any time by selecting the
					"Export" tabs. When finished, click "Download" or Copy" to copy the output to your clipboard. OpenApi-gui saves data
					only to your browser's local-storage. Data is saved before destructive edits (deletions) and when the "Save" button
					is pressed. "Undo" will return to the last-saved state. Make sure you save your JSON/YAML output when finished.
				</div>

				<div class="tab-pane" id="input">
					<textarea class="span12 service-input" v-model="importschema.text"></textarea>
					<a class='btn btn-primary pull-right' id="load-definition" v-on:click="loadSchema()">
						<i class='icon-upload icon-white'></i> Load Definition
					</a>
				</div>

				<div class="tab-pane" id="header">
					<div class="content forms span9">
						<form class="plain-form form-horizontal" id="frmHeader">

							<div class='control-group'>
								<label class='control-label'> Title </label>
								<div class='controls'>
									<input class="span4" v-model="openapi.info.title">
								</div>
							</div>
							<div class='control-group'>
								<label class='control-label'> Version </label>
								<div class='controls'>
									<input class="span4" v-model="openapi.info.version">
								</div>
							</div>
							<div class='control-group'>
								<label class='control-label'> Description </label>
								<div class='controls'>
									<textarea class="span6" v-model="openapi.info.description"></textarea>
								</div>
							</div>
							<div class='control-group'>
								<label class='control-label'> Protocol </label>
								<div class='controls'>
									<div class="checkbox">
										<input type="checkbox" id="chkScheme" value="http" v-model="openapi.schemes">HTTP<br>
										<input type="checkbox" id="chkScheme" value="https" v-model="openapi.schemes">HTTPS<br>
										<input type="checkbox" id="chkScheme" value="ws" v-model="openapi.schemes">WebSocket<br>
										<input type="checkbox" id="chkScheme" value="wss" v-model="openapi.schemes">WebSocket Secure<br>
									</div>
								</div>
							</div>
							<div class='control-group'>
								<label class='control-label'> Host </label>
								<div class='controls'>
									<input class="span4" v-model="openapi.host">
								</div>
							</div>
							<div class='control-group'>
								<label class='control-label'> BasePath </label>
								<div class='controls'>
									<input class="span6" v-model="openapi.basePath">
								</div>
							</div>
							<div class='control-group'>
								<label class='control-label'> Contact Name </label>
								<div class='controls'>
									<input class="span6" v-model="openapi.info.contact.name">
								</div>
							</div>
							<div class='control-group'>
								<label class='control-label'> Contact Email </label>
								<div class='controls'>
									<input type="email" class="span6" v-model="openapi.info.contact.email">
								</div>
							</div>
							<div class='control-group'>
								<label class='control-label'> Contact URL </label>
								<div class='controls'>
									<input type="url" class="span6" v-model="openapi.info.contact.url">
								</div>
							</div>
							<div class='control-group'>
								<label class='control-label'> Terms of Service URL </label>
								<div class='controls'>
									<input type="url" class="span6" v-model="openapi.info.termsOfService">
								</div>
							</div>
							<div class='control-group'>
								<label class='control-label'> License Name </label>
								<div class='controls'>
									<input class="span4" v-model="openapi.info.license.name">
								</div>
							</div>
							<div class='control-group'>
								<label class='control-label'> License URL </label>
								<div class='controls'>
									<input type="url" class="span6" v-model="openapi.info.license.url">
								</div>
							</div>
							<div class='control-group'>
								<label class='control-label'> External Docs </label>
								<div class='controls'>
									<textarea class="span6" v-model="openapi.externalDocs.description"></textarea>
								</div>
							</div>
							<div class='control-group'>
								<label class='control-label'> Documentation URL </label>
								<div class='controls'>
									<input type="url" class="span6" v-model="openapi.externalDocs.url">
								</div>
							</div>

						</form>
					</div>
				</div>

				<div class="tab-pane" id="prodcons">
					<div class="content forms span9">
						<form class="plain-form form-horizontal" id="frmProdCons">
							<div>
								<a v-on:click="addConsumes()" class='btn btn-info'><i class='icon-plus icon-white'></i> Add Consumed Type</a>
								<br>
							</div>
							<div v-for="(c,index) in openapi.consumes">
								<div class='control-group'>
									<label class='control-label'> MIME Type </label>
									<div class='controls'>
										<input class="span6" v-model="openapi.consumes[index]">
										<a v-on:click="removeConsumes(index)" class='btn btn-danger'><i class='icon-trash icon-white'></i> Delete</a>
									</div>
								</div>
							</div>
							<hr>
							<div>
								<a v-on:click="addProduces()" class='btn btn-info'><i class='icon-plus icon-white'></i> Add Produced Type</a>
								<br>
							</div>
							<div v-for="(p,index) in openapi.produces">
								<div class='control-group'>
									<label class='control-label'> MIME Type </label>
									<div class='controls'>
										<input class="span6" v-model="openapi.produces[index]">
										<a v-on:click="removeProduces(index)" class='btn btn-danger'><i class='icon-trash icon-white'></i> Delete</a>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>

				<div class="tab-pane" id="tags">
					<div class="content forms span9">
						<form class="plain-form form-horizontal" id="frmTags">
							<div>
								<a v-on:click="addTag()" class='btn btn-info'><i class='icon-plus icon-white'></i> Add Tag</a>
								<br>
							</div>
							<div v-for="(t,index) in openapi.tags">
								<div class='control-group'>
									<label class='control-label'> Name </label>
									<div class='controls'>
										<input class="span6" v-model="t.name">
										<i v-on:click="removeTag(index)" class='btn btn-danger icon-trash icon-white'></i>
									</div>
								</div>
								<div class='control-group'>
									<label class='control-label'> Description </label>
									<div class='controls'>
										<textarea class="span6" v-model="t.description"></textarea>
									</div>
								</div>
								<div class='control-group'>
									<label class='control-label'> External Docs </label>
									<div class='controls'>
										<textarea class="span6" v-model="t.externalDocs.description"></textarea>
									</div>
								</div>
								<div class='control-group'>
									<label class='control-label'> Docs URL </label>
									<div class='controls'>
										<input type="url" class="span6" v-model="t.externalDocs.url">
									</div>
								</div>
								<hr>
							</div>
						</form>
					</div>
				</div>

				<div class="tab-pane" id="security">
					<div class="content forms span9">
						<form class="plain-form form-horizontal" id="frmSecurity">
							<div>
								<a class="btn btn-info" v-on:click="addSecurityDefinition()"><i class='icon-plus icon-white'></i> Add Security Definition</a>
								<br>
								<br>
							</div>
							<api-secdef v-for="(sd, sdname) in openapi.securityDefinitions" :sd='sd' :sdname='sdname' :openapi='openapi' inline-template>
								<div>
									<div class='control-group'>
										<label class='control-label'> Name </label>
										<div class='controls'>
											<input class="span6" v-model.lazy="secname">
											<a v-on:click="removeSecurityDefinition(sdname)" class='btn btn-danger'><i class='icon-trash icon-white'></i> Delete</a>
										</div>
									</div>
									<div class='control-group'>
										<label class='control-label' for="selSdType"> Type </label>
										<div class='controls'>
											<select name="selSdType" v-model="type">
												<option value="apiKey">API Key</option>
												<option value="oauth2">oAuth2</option>
												<option value="basic">Basic Authentication</option>
											</select>
										</div>
									</div>
									<div class='control-group'>
										<label class='control-label'> Apply to all paths </label>
										<div class='controls'>
											<input type='checkbox' :value='sdname' v-model='appliesToAllPaths'>
										</div>
									</div>
									<div v-if="sd.type == 'apiKey'" class='animate-if'>
										<div class='control-group'>
											<label class='control-label'> Parameter Name </label>
											<div class='controls'>
												<input class="span6" v-model="sd.name">
											</div>
										</div>
										<div class='control-group'>
											<label class='control-label'> Location </label>
											<div class='controls'>
												<select name="selLocation" v-model="sd.in">
													<option value="header">Header</option>
													<option value="query">Query</option>
												</select>
											</div>
										</div>
									</div>
									<div v-if="sd.type == 'oauth2'" class='animate-if'>
										<div class='control-group'>
											<label class='control-label'> Flow </label>
											<div class='controls'>
												<select name="selFlow" v-model="sd.flow">
													<option value="implicit">Implicit</option>
													<option value="password">Password</option>
													<option value="application">Application</option>
													<option value="accessCode">AccessCode</option>
												</select>
											</div>
										</div>
										<div class='control-group'>
											<label class='control-label'> Authorization URL </label>
											<div class='controls'>
												<input type="url" class="span6" v-model="sd.authorizationUrl">
											</div>
										</div>
										<div class='control-group'>
											<label class='control-label'> Token URL </label>
											<div class='controls'>
												<input type="url" class="span6" v-model="sd.tokenUrl">
											</div>
										</div>
										<div class='well'>
											<div>
												<a class="btn btn-info" v-on:click="addScope(sdname)"><i class='icon-plus icon-white'></i> Add Scope</a>
											</div>
											<api-scope v-for="(sdesc, sname) in sd.scopes" :sd="sd" :sdname="sdname" :sname="sname" inline-template>
												<div>
													<div class='control-group'>
														<label class='control-label'> Scope Name </label>
														<div class='controls'>
															<input class="span6" v-model.lazy="scopename">
															<a v-on:click="removeScope(sdname,sname)" class='btn btn-danger'><i class='icon-trash icon-white'></i> Delete</a>
														</div>
													</div>
													<div class='control-group'>
														<label class='control-label'> Description </label>
														<div class='controls'>
															<input class="span6" v-model="sd.scopes[sname]">
														</div>
													</div>
												</div>
											</api-scope>
										</div>
									</div>
									<hr>
								</div>
							</api-secdef>
						</form>
					</div>
				</div>

				<div class="tab-pane" id="output">
					<api-definition></api-definition>
				</div>

				<div class="tab-pane" id="yaml">
					<api-yaml></api-yaml>
				</div>

				<div class='tab-pane row-fluid active' id='editor'>

					<div class='span3'>
						<div class='sidebar-nav well'>
							<div>
								<a v-on:click="addResource()" class='btn btn-info addButton pull-left'><i class='icon-plus icon-white'></i> Add Path</a>
								<a class="btn btn-danger remButton" v-on:click="removeAll()"><i class='icon-trash icon-white'></i> Remove All</a>
							</div>
							<br>
							<div id="drop-container" class="dropdown open">
								<a id="drop1" href="#" role="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
									Navigation <b class="caret"></b>
								</a>
								<ul id="resourceList" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
									<li class='dropdown-submenu' v-for="(path,key) in openapi.paths">
										<a :href="path.id" target="_self" v-on:click="showResource(key)">{{key}}</a>
										<ul class='dropdown-menu'>
											<li v-for="(m,mkey) in path">
												<a :href="m.id" target="_self" v-on:click="showResource(key)">{{mkey}}</a>
											</li>
										</ul>
									</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="content forms span9">
						<form class="form-horizontal" id="config">
							<div class="resource" v-for="(path,key,index) in openapi.paths">
								<api-resource :key='key' :path='path' :index='key' :maintags='openapi.tags'></api-resource>
							</div>
						</form>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>