<div class='navbar navbar-inverse navbar-fixed-top'>
  <div class='navbar-inner'>
    <div class='container-fluid'>
      <span class='brand'><a href="https://github.com/mermade/openapi-gui">OpenApi-GUI</a></span>
	  <i class='pull-right btn btn-info icon-white icon-arrow-up'>&nbsp;Top</i>
	  <i class='pull-right btn btn-info icon-white icon-save'>&nbsp;Save</i>
	  <i class='pull-right btn btn-info icon-white icon-undo'>&nbsp;Undo</i>
    </div>
  </div>
</div>

<div class='container-fluid' role='main'>
  <div class='row-fluid'>

    <ul id="section-tabs" class='tabs nav nav-tabs'>
      <li>
        <a data-toggle='tab' href='#about' id="about-tab">
          <i class='icon-info'></i>
          About
        </a>
      </li>
      <li>
        <a data-toggle='tab' href='#input' id="input-tab">
          <i class='icon-upload'></i>
          Load
        </a>
      </li>
      <li>
        <a data-toggle='tab' href='#header' id="header-tab">
          <i class='icon-comment'></i>
          Header 
        </a>
      </li>
      <li>
        <a data-toggle='tab' href='#tags' id="header-tags">
          <i class='icon-tag'></i>
          Tags
        </a>
      </li>
      <li>
        <a data-toggle='tab' href='#security' id="header-security">
          <i class='icon-lock'></i>
         Security 
        </a>
      </li>
      <li class='active'>
        <a data-toggle='tab' href='#editor' id="editor-tab">
          <i class='icon-edit'></i>
          Edit
        </a>
      </li>
      <li>
        <a data-toggle='tab' href='#output' id="output-tab" ng-click="$ctrl.renderOutput()">
          <i class='icon-file'></i>
          Export JSON
        </a>
      </li>
      <li>
        <a data-toggle='tab' href='#yaml' id="yaml-tab" ng-click="$ctrl.renderOutputYaml()">
          <i class='icon-file'></i>
          Export YAML
        </a>
      </li>
    </ul>

    <div class='tab-content'>

		<div class="tab-pane" id="about">
<h1>What is OpenApi-gui?</h1>
<br/>
OpenApi-gui is a GUI for creating and updating OpenApi / Swagger definitions.
<br/>
<h2>How does OpenApi-gui work?</h2>
<br>
Upload an existing definition, or create a new one (select the red 'eraser' button to remove all Paths) and start adding Paths, Operations, and Parameters. When an existing definition is used, it is parsed and forms for editing each Path, Operation and Parameter will be created.
<br/>
<br/>
By default when OpenApi-gui starts, it loads the OpenApi Petstore sample.
<br/>
<br/>
Click an item from the menu on the left to begin editing. View the JSON/YAML output at any time by selecting the "Export" tabs. When finished, click "Copy" to copy the output to your clipboard. OpenApi-gui does not currently store any data. Make sure you save your JSON/YAML output.
		</div>

        <div class="tab-pane" id="input">
            <textarea class="span12 service-input" ng-model="$ctrl.importSchema"></textarea>
            <a class='btn btn-primary pull-right' id="load-definition" ng-click="$ctrl.loadSchema()">
                <i class='icon-upload icon-white'></i>
                Load Definition
            </a>
        </div>

        <div class="tab-pane" id="header">
            <div class="content forms span9">
              <form class="form-horizontal" id="frmHeader">

	        	<div class='control-group'>
                  <label class='control-label'> Title </label>
                  <div class='controls'>
                      <input class="span4" ng-model="$ctrl.apiConfig.info.title"></input>
                  </div>
                </div>	
	        	<div class='control-group'>
                  <label class='control-label'> Version </label>
                  <div class='controls'>
                      <input class="span4" ng-model="$ctrl.apiConfig.info.version"></input>
                  </div>
                </div>	
	        	<div class='control-group'>
                  <label class='control-label'> Description </label>
                  <div class='controls'>
                      <textarea class="span6" ng-model="$ctrl.apiConfig.info.description"></textarea>
                  </div>
                </div>	
	        	<div class='control-group'>
                  <label class='control-label'> Host </label>
                  <div class='controls'>
                      <input class="span4" ng-model="$ctrl.apiConfig.host"></input>
                  </div>
                </div>	
	        	<div class='control-group'>
                  <label class='control-label'> BasePath </label>
                  <div class='controls'>
                      <input class="span6" ng-model="$ctrl.apiConfig.basePath"></input>
                  </div>
                </div>	
	        	<div class='control-group'>
                  <label class='control-label'> Contact Name </label>
                  <div class='controls'>
                      <input class="span6" ng-model="$ctrl.apiConfig.info.contact.name"></input>
                  </div>
                </div>	
	        	<div class='control-group'>
                  <label class='control-label'> Contact Email </label>
                  <div class='controls'>
                      <input class="span6" ng-model="$ctrl.apiConfig.info.contact.email"></input>
                  </div>
                </div>	
	        	<div class='control-group'>
                  <label class='control-label'> Contact URL </label>
                  <div class='controls'>
                      <input class="span6" ng-model="$ctrl.apiConfig.info.contact.url"></input>
                  </div>
                </div>	
	        	<div class='control-group'>
                  <label class='control-label'> Terms of Service </label>
                  <div class='controls'>
                      <input class="span6" ng-model="$ctrl.apiConfig.info.termsOfService"></input>
                  </div>
                </div>	
	        	<div class='control-group'>
                  <label class='control-label'> License Name </label>
                  <div class='controls'>
                      <input class="span4" ng-model="$ctrl.apiConfig.info.license.name"></input>
                  </div>
                </div>	
	        	<div class='control-group'>
                  <label class='control-label'> License URL </label>
                  <div class='controls'>
                      <input class="span6" ng-model="$ctrl.apiConfig.info.license.url"></input>
                  </div>
                </div>	
	        	<div class='control-group'>
                  <label class='control-label'> External Docs </label>
                  <div class='controls'>
                      <textarea class="span6" ng-model="$ctrl.apiConfig.externalDocs.description"></textarea>
                  </div>
                </div>	
	        	<div class='control-group'>
                  <label class='control-label'> Documentation URL </label>
                  <div class='controls'>
                      <input class="span6" ng-model="$ctrl.apiConfig.externalDocs.url"></input>
                  </div>
                </div>	

			  </form>
            </div>	
        </div>
      
        <div class="tab-pane" id="tags">
			<h1>Tags - TODO</h1>
        </div>
        
		<div class="tab-pane" id="security">
			<h1>Security - TODO</h1>
        </div>
        
		<div class="tab-pane" id="output">
            <api-definition config="$ctrl.apiConfig"/>
        </div>
      
        <div class="tab-pane" id="yaml">
            <api-yaml config="$ctrl.apiConfig"/>
        </div>
      
        <div class='tab-pane row-fluid active' id='editor'>

            <div class='span3'>
                <div class='sidebar-nav well'>
                    <i ng-click="$ctrl.removeAll()" class='btn btn-danger remButton icon-eraser icon-white'></i>
                    <i ng-click="$ctrl.addResource()" class='btn btn-info addButton icon-plus icon-white'></i>
                    <br/>
					<strong>
					  <ul id="resourceList">
                        <li ng-repeat="resource in $ctrl.apiConfig.resources track by resource.id">
					      <a href="#{{resource.id}}" target="_self" ng-click"$ctrl.showResource(resource)">
                            {{resource.name}}
					      </a>
						</li>
                      </ul>
					</strong>
                </div>
            </div>

            <div class="content forms span9">
                <form class="form-horizontal" id="config">
                    <div class="resources" ng-repeat="resource in $ctrl.apiConfig.resources track by resource.id">
					  <api-resource resource="resource"></api-resource>
                    </div>
                </form>
            </div>

        </div>
    </div>
  </div>
</div>
