<div class="accordion property">
    <div class="accordion-group">
        <div class='accordion-heading'> 
    
            <i class="icon-reorder accordion-handle param-handle"></i>

            <a class="accordion-toggle" data-toggle="collapse" :data-target="hashUid" onclick="$(this).collapse('toggle')">
                Property: <span class='methodNameSpan'>{{property.title}}</span>
            </a>

            <div class="accordion-buttons">
                <div class="block-container">
                    <div>
                        <a ng-if="$ctrl.isComplexDataType" class='btn btn-info' ng-click="$ctrl.addSubProperty()">
                            <i class='icon-plus icon-white'></i>
                            Add
                        </a>
                        <a class='btn btn-danger' ng-click="$ctrl.delete(this)">
                            <i class='icon-trash icon-white'></i>
                            Delete
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-body collapse" :id="_uid">
            <div class="accordion-inner">
                
                <div class='control-group'>
                    <label class='control-label'> Property Name </label>
                    <div class='controls'>
                        <input v-model="property.title" />
                    </div>
                </div>
                <div class='control-group'>
                    <label class='control-label'> Description </label>
                    <div class='controls'>
                        <textarea v-model="property.description" class="span8"></textarea>
                    </div>
                </div>
                <div class='control-group'>
                    <label class='control-label'> Required </label>
                    <div class='controls'>
                        <select v-model="property.required">
                            <option value="true">True</option>
                            <option value="false">False</option>
                        </select>
                    </div>
                </div>
                <div class='control-group' ng-if="!$ctrl.isComplexDataType">
                    <label class='control-label'> Default Value </label>
                    <div class='controls'>
                        <input v-model="property.default" />
                    </div>
                </div>
                <div class='control-group'>
                    <label class='control-label'> Data Type </label>
                    <div class='controls'>
                        <select v-model="property.type">
                            <option value="boolean">boolean</option>
                            <option value="string">string</option>
                            <option value="integer">integer</option>
                            <option value="array">array</option>
                            <option value="object">object</option>
                        </select>
                    </div>
                </div>

                <div class='control-group'>
                   <div class="sortable-properties" v-for="prop in property.properties">
                        <api-property :property="prop"></api-property>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
