<div class="accordion parameter">
    <div class="accordion-group">
        <div class='accordion-heading'> 
    
            <i class="icon-reorder accordion-handle param-handle"></i>

            <a class="accordion-toggle" data-toggle="collapse" data-target="{{$ctrl.getCollapseTarget()}}" ng-click="$ctrl.toggleBodyDisplay()">
                Parameter: <span class='methodNameSpan'>{{$ctrl.parameter.name}}</span>
            </a>

            <div class="accordion-buttons">
                <div class="block-container">
                    <div>
                        <a ng-if="$ctrl.isComplexDataType" class='btn btn-info' ng-click="$ctrl.addProperty()">
                            <i class='icon-plus icon-white'></i>
                            Add
                        </a>
                        <a class='btn btn-danger' ng-click="$ctrl.delete(this)">
                            <i class='icon-trash icon-white'></i>
                            Delete
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-body collapse" id="{{$ctrl.parameter.id}}">
            <div class="accordion-inner">
                
                <div class='control-group'>
                    <label class='control-label'> Parameter Name </label>
                    <div class='controls'>
                        <input ng-model="$ctrl.parameter.name" required/>
                    </div>
                </div>
                <div class='control-group'>
                    <label class='control-label'> Description </label>
                    <div class='controls'>
                        <textarea ng-model="$ctrl.parameter.description" class="span8"></textarea>
                    </div>
                </div>
                <div class='control-group'>
                    <label class='control-label'> Required </label>
                    <div class='controls'>
                        <select ng-model="$ctrl.parameter.required" required size="2">
                            <option value="true">True</option>
                            <option value="false">False</option>
                        </select>
                    </div>
                </div>
                <div class='control-group' ng-if="!$ctrl.isComplexDataType">
                    <label class='control-label'> Default Value </label>
                    <div class='controls'>
                        <input ng-model="$ctrl.parameter.default" />
                    </div>
                </div>
                <div class='control-group'>
                    <label class='control-label'> Location </label>
                    <div class='controls'>
                        <select ng-model="$ctrl.parameter.in" required size="3">
                            <option value="path">Path</option>
                            <option value="query">Query</option>
                            <option value="header">Header</option>
                            <option value="body">Body</option>
                            <option value="form">Form</option>
                        </select>
                    </div>
                </div>
                <div class='control-group'>
                    <label class='control-label'> Data Type </label>
                    <div class='controls'>
                        <select ng-model="$ctrl.parameter.type" required size="5">
                            <option value="boolean">boolean</option>
                            <option value="string">string</option>
                            <option value="integer">integer</option>
                            <option value="number">number</option>
                            <option value="array">array</option>
                            <option value="file">file</option>
                            <option value="object">object</option>
                        </select>
                    </div>
                </div>
                <div class='control-group' ng-if="$ctrl.parameter.availableFormats.length">
                    <label class='control-label'> Format </label>
                    <div class='controls'>
                        <select ng-model="$ctrl.parameter.format" size="{{$ctrl.parameter.availableFormats.length}}">
                          <option ng-repeat="option in $ctrl.parameter.availableFormats" value="{{option}}">{{option}}</option>
                        </select>
                    </div>
				</div>
                <div class='control-group' ng-if="$ctrl.parameter.type == 'string'">
                    <label class='control-label'> Pattern </label>
                    <div class='controls'>
                        <input ng-model="$ctrl.parameter.pattern" />
                    </div>
                </div>
                <div class='control-group'>
				   <!-- TODO was sortable-params -->
                   <div class="sortable-properties" ng-repeat="property in $ctrl.parameter.properties track by property.id">
                        <api-property property="property"></api-property>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
