<div class="accordion-group">
    <div class='accordion-heading'>

        <i class="icon-reorder accordion-handle method-handle"></i>

        <a class="accordion-toggle" data-toggle="collapse" :data-target="hashUid" onclick="$(this).collapse('toggle')">
            Operation: <span class='methodNameSpan'>{{httpMethod}} {{method.operationId}}</span>
        </a>

        <div class="accordion-buttons">
            <div class="block-container">
                <a v-on:click="addParameter()" class='btn btn-info'>
                    <i class='icon-plus icon-white'></i>
                    Parameter
                </a>
                
                <a class='btn btn-info' v-on:click="duplicateOperation(method)">
                    <i class='icon-copy icon-white'></i>
                    Duplicate
                </a>

                <a class='btn btn-danger' v-on:click="removeOperation(index)">
                    <i class='icon-trash icon-white'></i>
                    Delete
                </a>

            </div>
        </div>
    </div>
    <div class="accordion-body collapse" :id="_uid">
        <div class="accordion-inner">
            
            <div class='control-group'>
                <label class='control-label'> HTTP Method (GET, POST, PUT, etc) </label>
                <div class='controls'>
                    <select v-model="httpMethod">
                        <option value="GET">GET</option>
                        <option value="POST">POST</option>
                        <option value="PUT">PUT</option>
                        <option value="DELETE">DELETE</option>
                        <option value="HEAD">HEAD</option>
                        <option value="PATCH">PATCH</option>
                        <option value="OPTIONS">OPTIONS</option>
                    </select>
                </div>
            </div>
            <div class='control-group'>
                <label class='control-label'> OperationId </label>
                <div class='controls'>
                    <input class='methodName' v-model="method.operationId" />
                </div>
            </div>
            <div class='control-group'>
                <label class='control-label'> Summary </label>
                <div class='controls'>
                    <input class="span8" v-model="method.summary" />
                </div>
            </div>
            <div class='control-group'>
                <label class='control-label'> Description </label>
                <div class='controls'>
                    <textarea class="span8" v-model="method.description"></textarea>
                </div>
            </div>
            <div class='control-group'>
                <label class='control-label'> Tags </label>
                <div class='controls'>
                    <select :id="tagId" class="span8" multiple v-model='vtags'>
                        <option v-for="tag in maintags" :value='tag.name'>{{tag.name}}</option>
                    </select>
                </div>
            </div>
            <details>
                <summary>External Docs</summary>
                <div class="well">
                    <div class='control-group'>
                        <label class='control-label'> Docs Description </label>
                        <div class='controls'>
                            <textarea class="span8" v-model="method.externalDocs.description"></textarea>
                        </div>
                    </div>
                    <div class='control-group'>
                        <label class='control-label'> Docs URL </label>
                        <div class='controls'>
                            <input type="url" class="span8" v-model="method.externalDocs.url">
                        </div>
                    </div>
                </div>
            </details>
            <div class='control-group'>
                <label class='control-label'> Deprecated </label>
                <div class='controls'>
                    <input type='checkbox' v-model='method.deprecated'>
                </div>
            </div>
            <div class='control-group'>
                <div class="sortable-params" v-for="(parameter,index) in method.parameters">
                    <api-parameter :parameter="parameter" :index='index'></api-parameter>
                </div>
            </div>
        </div>
    </div>
</div>
